# Dependencias y entornos virtuales
node_modules/
**/node_modules/
.venv/
**/.venv/

# Builds y cachés de frontend
dist/
**/dist/
.vite/
**/.vite/

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
